<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<meta content="" name="description"/>
	<meta content="" name="author"/>
	<title>{% block title %}{% endblock %}</title>
	<!-- Bootstrap CSS -->
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<link href="/static/css/simple-sidebar.css" rel="stylesheet">
	<!-- Hover CSS http://ianlunn.github.io/Hover/ -->
	<link href="/static/css/hover.css" rel="stylesheet" media="all">
	<link href="/static/css/music-dashboard.css" rel="stylesheet">

	{% block css %}{% endblock %}	

	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>

	<!-- Bootstrap JS -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script> 

	<script src="/static/js/csrf.js" type="text/javascript"></script>
	{% block js %}{% endblock %}

	<!-- Montserrat Font -->
	<link href="http://fonts.googleapis.com/css?family=Montserrat:700normal&amp;subset=all" rel="stylesheet" type="text/css">
	{% block style %}
	{% endblock %}
	<style>
		ul {
			list-style: none;
			padding-left: 0px;
		}
		li {
			padding-top: 10px;
			padding-bottom: 10px;
			list-style: none;
			text-align: center;
		}
		h1, h5 {
			padding: 20px;
			text-align: center;
			color: #FFF;
		}
		.dropdown-menu {
			left: 10px;
		}
		.notification {
			/*color: #999;*/
			/*background-color: #000;*/
			/*width: 250px;*/
		}
		.notification:hover, .notification:active {
			color: #999;
		}
		.note-item {
			position: relative;
		}
		.greet-user-img {
			position: absolute;
			left: 7%;
		}
	</style>
</head>

<body>
	<div id="wrapper" class="toggled">
		<div id="sidebar-wrapper">
		    <ul class="sidebar-nav">
		        <li class="sidebar-brand">
		            <a href="{% url 'home' %}">Matches</a>
		        </li>
		        <li>
		        	<h5 style="padding:0px">Welcome {% block username %}{% endblock %}!</h5>
		        </li>
		        <li>
		            <a href="{% url 'home' %}">Home</a>
		        </li>
		        <li>
		            <a href="{% url 'forums' %}">Forums</a>
		        </li>
		        <li>
		            <a href="{% url 'music-search' %}">Search</a>
		        </li>
		        <li>
		            <a href="{% block profile_url %}{% endblock %}">Your Profile</a>
		        </li>
		        <li>
		           <a href="{% url 'match' %}">Find your matches!</a>
		        </li>
		  		<li>
		            <a onclick="FB.logout();" href="{% url 'logout' %}" >Logout</a>
		        </li>
		    </ul>
	     </div>

		<div id="page-content-wrapper">
			<div class="align-container">
				<h1 class="page-header">{% block header %}{% endblock %}</h1>
				<a href="#menu-toggle" class="btn btn-default btn-lg glyphicon glyphicon-th-list" id="menu-toggle"></a>
			</div>      
			{% block main %}{% endblock %}
		</div>
	</div>
	<script>
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });

	      function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }





  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1561344864095014',
    cookie     : false,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });


  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); 
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

  FB.login(function(response) 
  {
   if (response.authResponse) 
   {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) 
     {
       console.log('Good to see you, ' + response.name + '.');
     });
   } 
   else 
   {
     console.log('User cancelled login or did not fully authorize.');
   }
 },{
  scope: 'publish_actions', 
  return_scopes: true
 });

	    FB.logout(function(response) 
	    {
	    	if(typeof FB.logout == 'function')
	    	{
	    		if (FB.getAuthResponse()) {
	    			return;
	    		}
	    	};
	    	return;
	    });
    </script>
</body>
</html>