<li class="user-comment">
	<div class="panel panel-default">
	  	<div class="panel-body">
			<img src="{{comment.who_commented.picture.url}}" alt="..." width="64" height="64">	  	
			<br><br>
			<p>{{comment.comment}}</p>
		</div>
		<div class="make-comment" style="margin-left:20px;">
			<form id="comment_form" class="reply-form" method="post">
				<div>
					<textarea rows="3" name="response" id="reply" placeholder="Response"></textarea>
					<input type="hidden" name="forum_id" value="{{forum.id}}">
					<input type="hidden" name="comment_id" value="{{comment.id}}">
				</div>
				<div>
					<input type="submit" value="Reply">
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
</li>