{% extends "basic.html" %}
{% block title %}Match: Confirm password{% endblock %} 
{% block main %}

<h1>
A confirmation email has been sent to {{emailaddress}}.  Please click the link
in that email to Reset your password.
</h1>
{% endblock %}
</body>
</html>

