<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>Matches - Music Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/css/music-dashboard.css" rel="stylesheet">

  <!-- Hover CSS http://ianlunn.github.io/Hover/ -->
  <link href="/static/css/hover.css" rel="stylesheet" media="all">

  <!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

  <!-- Bootstrap JS -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script> 

  <!-- Montserrat Font -->
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400normal&amp;subset=all" rel="stylesheet" type="text/css">
</head>

<body>

<p>
<h1>Thank you for confirming Matches.
Please <a href="{% url 'login' %}">login</a> to access join us.</h1>
</p>
</body>
</html>

