{% extends 'basic.html' %}

{% block title %}Matches - Forums{% endblock %}

{% block css %}
<link href="/static/css/commenter.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">
{% endblock %}

{% block js %}
<script src="/static/js/forums.js" type="text/javascript"></script>
{% endblock %}

<!-- {% url 'profile' personal.id %} -->
{% block profile_url %}{% endblock %}

{% block header %}{{forum.title}}{% endblock %}

{% block main %}
<style>
	.forum-heading, .forum-heading:hover {
		color: #FFF;
		text-decoration: none;
	}
	h4, h3 {
		font-family: 'Montserrat' !important;
		color: #FFF;
	}
	.go-back {
		margin-bottom: 10px;
	}
	.user-comment {
		text-align: left;
	}
</style>

<a href="{% url 'forums' %}" class="btn btn-warning btn-lg go-back"><span class="glyphicon glyphicon-arrow-left"></span> Go Back to Forums</a>

<div class="main-topic">
	<div class="panel panel-primary">
		<div class="panel-body">
	    	<p>{{forum.info}}</p>
		</div>
		<div class="panel-footer">
			{% for tag in forum.tags.all %}<strong>#{{tag.tag_name}}</strong>  {% endfor %}
		</div>
	</div>
</div>

<h3> Comments </h3>

<ul class="comments-list">
{% for comment in forum.comments.all reversed %}
<li class="user-comment">
	<div class="panel panel-default">
	  	<div class="panel-body">
			<img src="{{comment.who_commented.picture.url}}" alt="..." width="64" height="64">	  	
			<br><br>
			{% if comment.replied_comment %} 
				<div class="panel panel-default reply-comment" style="background-color:#428bca; color:#FFF; border-color: #FFF">
			    	<div class="panel-body">
			    		<img src="{{comment.replied_comment.who_commented.picture.url}}" alt="..." width="64" height="64">
			    		<br><br>
			    		<p>{{comment.replied_comment.comment}}</p>
			    	</div>
		    	</div>
			{% endif %}
			<p>{{comment.comment}}</p>
		</div>
		<div class="make-comment" style="margin-left:20px;">
			<!-- Comment Response -->
			<form id="comment_form" class="reply-form" method="post">
				<div>
					<textarea rows="3" name="response" id="reply" placeholder="Response"></textarea>
					<input type="hidden" name="forum_id" value="{{forum.id}}">
					<input type="hidden" name="comment_id" value="{{comment.id}}">
				</div>
				<div>
					<input type="submit" value="Reply">
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
</li>
{% endfor %}
</ul>

<!-- Commenting -->
<div class="make-comment">
	<form id="comment_form" class="new-comment" method="post">
		<div>
			<textarea rows="10" name="comment" id="comment" placeholder="Comment"></textarea>
		</div>
		<div>
			<input type="hidden" name="forum_id" value="{{forum.id}}">
			<input type="submit" name="submit" value="Add Comment">
		</div>	
		{% csrf_token %}
	</form>
</div>
{% endblock %}