<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Welcome to Matches - Login</title>
    <!-- Bootstrap CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/simple-sidebar.css" rel="stylesheet">
    <link href="static/css/music-dashboard.css" rel="stylesheet">

    <!-- Hover CSS http://ianlunn.github.io/Hover/ -->
    <link href="hover.css" rel="stylesheet" media="all">

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Bootstrap JS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script> 

    <!-- Montserrat Font -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700normal&amp;subset=all" rel="stylesheet" type="text/css">
    <style>
        ul {
            list-style: none;
        }
        li {
            padding: 20px;
            text-align: center
        }
        h3{
            padding: 20px;
            text-align: center
        }
        h2{
            padding: 40px;
            font-size: 700%; 
            text-align: center;
            color:white;
        }
        h4{
            text-align: right
        }
        table{ 
            padding: 20px;
            font-family: arial; 
            font-size:22px; 
        } 
    </style>
</head>

<body>
<script>
  // This is called with the results from from FB.getLoginStatus().


  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.    
      testAPI();
    } 
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }





  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1561344864095014',
    cookie     : false,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); 
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);

      window.location.href = "{% url 'fbregister' %}";
      
     
    });
  }

  FB.login(function(response) 
  {
   if (response.authResponse) 
   {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) 
     {
       console.log('Good to see you, ' + response.name + '.');
     });
   } 
   else 
   {
     console.log('User cancelled login or did not fully authorize.');
   }
 },{
  scope: 'publish_actions', 
  return_scopes: true
 });

  FB.logout(function(response) {
    if(typeof FB.logout == 'function'){
        if (FB.getAuthResponse()) {
        console.log('Successful logout ');
         FB.logout(function(response) { window.location.href = "{% url 'login' %}"; }); 
         return;
        }  
    };
    window.location.href = "{% url 'login' %}";
    return;
  // user is now logged out
});

</script>



<div id="status">
</div>

{% if form.errors %}
<p style="color:red">
Incorrect user name and password.
</p>
{% endif %}
<h2 class="form-signin-heading">Matches</h2>

<form method="post" action="{% url 'login' %}">
<table align="center">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table><br><br>



<p align="center"><input type="submit" style="height:40px; width:480px; " class="btn btn-lg btn-primary btn-block" value="Login" /></p><br>
<input type="hidden" name="next" value="{{ next }}" />
<p align="center"><a href="{% url 'register' %}" style="height:40px; width:480px; background:green; vertical-align:middle;" class="btn btn-lg btn-primary btn-block">Register</a></p><br>

<h3><a href="{% url 'recoverpassword' %}" style="height:30px; width:280px;background:white;"> Forget password?  </a> </h3>  
<div align="center">
  <div class="fb-login-button" data-max-rows="1"  data-size="xlarge" data-show-faces="false" data-auto-logout-link="true"  onlogin="checkLoginState();">
  </div>
</div>




{% csrf_token %}
</form>

</body>
</html>


