{% extends 'basic.html' %}

{% block title %}Matches - Music Dashboard{% endblock %}

{% block js %}
<script src="/static/js/music-play-search.js" type="text/javascript"></script>
{% endblock %}

{% block username %}{{personal.user.username}}{% endblock %}
{% block profile_url %}{% url 'profile' personal.id %}{% endblock %}

{% block header %}Find Your Music!{% endblock %}

{% block main %}
<div class="search container" style="text-align:center;">
	<form id="query-form" class="navbar-form" role="search">
			<div class="form-group" style="display:inline;">
				<div class="input-group" style="width:50%;">
				<input id="query" type="text" class="input-lg form-control" placeholder="Search" required>
			</div>
			</div>
			<button id="query-submit" type="submit" class="btn btn-default btn-lg glyphicon glyphicon-search"></button>
			<!-- Advanced Search Modal -->
	</form>
</div>
				
<br>

<div class="container">
	<div class="panel panel-default">
		<div class="panel-body dashboard" id="album-rows">
			<!-- music-play-search.js FILLS IN -->
		</div> <!-- panel-body -->
	</div> <!-- panel -->
</div> <!-- container -->
{% endblock %}