<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Welcome to Matches - Reset password</title>
    <!-- Bootstrap CSS -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/simple-sidebar.css" rel="stylesheet">
    <link href="static/css/music-dashboard.css" rel="stylesheet">

    <!-- Hover CSS http://ianlunn.github.io/Hover/ -->
    <link href="hover.css" rel="stylesheet" media="all">

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Bootstrap JS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script> 

    <!-- Montserrat Font -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700normal&amp;subset=all" rel="stylesheet" type="text/css">
    <style>
 
        h2{
            padding: 40px;
            font-size: 400%; 
            text-align: center;
        }
        body{
            background-color: #60C1D8;
        }
        h3{
            padding: 40px;
            font-size: 200%; 
            color: red;
            text-align: center;
        }
    </style>
</head>
<body>
<form action="{%url 'resetpassword'%}" method="post" class="form-signin">
    <h2> Now you can reset your Password </h2>
    <p align="center"><input type="password" style="height:50px; width:480px;  vertical-align:middle;" class="form-control" name="password1" placeholder="Password" autofocus>
    <input type="password" style="height:50px; width:480px;  vertical-align:middle;"class="form-control" name="password2" placeholder="Confirm Password">
    {% if username %}
    <input type="hidden" name="requestusername" value="{{username}}">
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" style="height:50px; width:480px; " type="submit">Set Password</button>
  </p>
    {% if error %}
      <h3>Two passwords are different, please check again! </h3>
    {% endif %}
    {% if success %}
      The password has changed successfully! You could log in again to check.
      <p align="center"><a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block" style="height:50px; width:480px; background:green; vertical-align:middle;" type="submit"  value="Return">Go to the login </a> </p>
    {% endif %}
    {% csrf_token %}
</form>

</body>
</html>

