h1.page-header {
	font-family: 'Montserrat' !important;
	color: #FFF;
	font-size: 45px;
	border: none;
	text-align: center;
}
img.album-cover {
	width: 250px;
	height: 250px;
	box-shadow: 3px 3px 5px 6px #ccc;  
}	
.placeholder {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.info-tip {
	position: absolute;
	display: none;
	z-index: 2;
	background-color: #333;
	border: 0px;
	color: #FFF;
	font-size: 150%;
}
.dashboard {
	height: 700px;
	overflow: auto;
	overflow-x: hidden;
}
.red-heart {
	background-image: url('/static/images/gray_heart.png');
	width: 50px;
	height: 50px;
	position: absolute;
	left: 290px;
	top: 0px;
	z-index: 1;
}
.my-liked, .red-heart:hover {
	background-image: url('/static/images/red_heart.png');
	width: 50px;
	height: 50px;
	position: absolute;
	left: 290px;
	top: 0px;
	z-index: 1;
}
.singer-follow {
	border-color: #428bca;
	background-color: #428bca;	
}
.singer-unfollow{
	border-color: #d9534f;
	background-color: #d9534f;
}
.info-icon {
	position: absolute;
	left: 290px;
	bottom: 0px;
}
.play-btn {
	background-image: url('/static/images/play.png');
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	opacity: 0.6;
	z-index: 1;
}
.play-btn:hover {
	opacity: 1;
}
body {
	/*background-color: rgb(96, 193, 216);*/
	background-color: #577492
}
.menu-btn {
	float: right;
	margin-right: 30px;
}
.align-container {
	position: relative;
}
#menu-toggle {
	position: absolute;
	top : 20px;
}
.checkbox {
	margin-top: 0px;
}
#album-col {
	margin-left: 0px;
	margin-right: 0px;
}

